.Story {
    font-size: 14px;
    padding: 0 16px;
    min-height: 40px;
    flex-wrap: wrap;
    &_meta {
        font-size: 10.6px;
        span {
            a {
                color: #696969;
                text-decoration: none;
            }
        }
    }
    &_separator {
        margin: 0 5px;
        color: #696969;
    }
    &_comment {
        padding: 8px 0;
        color: #000;
        font-size: 12px;
        width: 100%;
        line-height: normal;
        font-style: normal;
        font-feature-settings: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        -webkit-font-variant-ligatures: normal;
        font-variant-ligatures: normal;
        font-weight: 400;
        div {
            em {
                background: #ff0;
                color: #000;
                font-style: normal;
                font-weight: 700;
            }
        }
    }

}