.Story {
  font-size: 14px;
  padding: 0 16px;
  min-height: 40px;
  flex-wrap: wrap; }
  .Story_meta {
    font-size: 10.6px; }
    .Story_meta span a {
      color: #696969;
      text-decoration: none; }
  .Story_separator {
    margin: 0 5px;
    color: #696969; }
  .Story_comment {
    padding: 8px 0;
    color: #000;
    font-size: 12px;
    width: 100%;
    line-height: normal;
    font-style: normal;
    font-feature-settings: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    -webkit-font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    font-weight: 400; }
    .Story_comment div em {
      background: #ff0;
      color: #000;
      font-style: normal;
      font-weight: 700; }
